.banner {
  grid-column: full-start / full-end;
  grid-row: 7/8;
  padding: 20px 0;
  background: #f6f6f6;
  & .container {
    margin: auto;
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 728px;
      max-height: 90rem;
    }
  }
}
@media only screen and (max-width: $bp-small) {
  .banner {
    & img {
      width: 50%;
      height: 50%;
    }
  }
}
