$color-primary: #fff;

$color-grey-light: #e5e5e5;
$color-grey-dark: #666;

$font-primary: "Open Sans", sans-serif;

$bp-largest: 1200px;
$bp-medium: 1000px;
$bp-small: 800px;
$bp-smaller: 500px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.5;
  // overflow-x: hidden;
}

.container-grid {
  display: grid;
  grid-template-rows: 4rem 106px min-content minmax(min-content, max-content) repeat(
      4,
      min-content
    );
  grid-template-columns:
    [full-start]1fr [con-start] repeat(10, minmax(min-content, 12rem)) [con-end]
    1fr[full-end];
  // position: relative;
}

@media only screen and (max-width: $bp-small) {
  html {
    font-size: 50%;
  }
}
