.future {
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  // height: 140rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & .future__student {
      background: #01334d;
      color: $color-primary;
      padding: 2rem 1.5rem;

      & .block-header {
        margin: 3rem;
        text-align: left;

        & .block-title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 3.5rem;
        }
        & .block-description {
          font-size: 1.6rem;
        }
      }

      &--service {
        display: flex;
        flex-wrap: wrap;
        margin-left: 3rem;
      }
      & .the-service {
        width: 15.5rem;
        padding: 0 1rem;
        margin-bottom: 2.5rem;
        & a {
          cursor: pointer;
          display: block;
          height: auto;
          margin-bottom: 1rem;
          width: 100%;
          text-decoration: none;
        }

        & span {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }

    & .find__program {
      background: #016394;
      color: $color-primary;
      padding: 6rem 1.5rem;

      & .block-header {
        text-align: left;

        & .block-title {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 3.5rem;
        }
        & .block-description {
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }
      }

      &-main {
        margin-right: 5rem;
        margin-left: 2rem;
        &-form {
          position: relative;
          // font-size: 1rem;
          // border-bottom: 0.1rem solid;
          & .program-search-name {
            border-radius: 0.5rem;
            border: none;
            width: 100%;
            height: 5rem;
            margin-bottom: 2rem;
          }

          & .search__program-icon {
            position: absolute;
            z-index: 8;
            top: 1.6rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            fill: $color-grey-dark;
            cursor: pointer;
          }
          & hr {
            color: $color-primary;
          }
          & .program-advance-search {
            margin-top: 2rem;
            & .meta-text {
              font-size: 1.6rem;
            }
            & .the-fields {
              display: flex;
              flex-direction: row;
              margin: 24px -5px 0;
              & li {
                list-style-type: none;
              }
              & .the-field {
                margin: 1rem;
                flex-grow: 1;
                & select {
                  border-radius: 5px;
                  height: 5rem;
                  width: 100%;
                  border: none;
                  color: $color-grey-dark;
                }
                & input {
                  font-size: 1.2rem;
                  font-weight: 400;
                  border-radius: 5px;
                  width: 100%;
                  height: 5rem;
                  background-image: linear-gradient(
                    to bottom,
                    #34aee2 0,
                    #20a4dd 99%
                  );
                }
              }
            }
          }
        }
      }
    }
  }
}
