.binus-recognition {
  padding: 40px 0;
  text-align: center;
  grid-column: con-start / con-end;
  justify-content: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);

  & .block-header {
    margin-bottom: 50px;
    color: $color-grey-dark;
  }
  & .block-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
  }

  & .block-description {
    font-size: 2em;
    font-weight: 200;
  }

  & .binus-recognitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 20px 10px;
    margin-bottom: 20px;
    & li {
      list-style-type: none;
      width: 190px;
      & img {
        max-height: 80px;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}
