.search {
  position: relative;
  grid-column: 1/13;
  grid-row: 1/2;
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 12rem)) 1fr;
  justify-items: end;

  & .container {
    grid-column: 2/12;

    & .search__icon {
      fill: $color-primary;
      padding: 1rem;
      cursor: pointer;
      z-index: 2;
      & svg {
        height: 2rem;
        width: 2rem;
      }
    }

    & .search__box {
      position: absolute;
      top: 0.5rem;
      right: 7rem;

      &--input {
        height: 3rem;
        display: none;
        z-index: 6;
        & .slide {
          display: inline-block;
          width: 20rem;
        }
      }
      &--close {
        position: absolute;
        height: 1rem;
        width: 1rem;
        top: 1rem;
        right: 1rem;
        fill: #333;
        cursor: pointer;
        display: none;
      }
    }
  }
}
